
<!DOCTYPE html>
<html lang="en" ng-controller="loginCtrl">
<head>
	<title>Profile</title>
	<!-- CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
<!-- Top content -->
<div class="top-content">
	<div class="inner-bg">
		<div class="container">
			<form>
		</div></div> </div></div>
<!-- get image and display it -->
<img src='"http://ddragon.leagueoflegends.com/cdn/5.12.1/img/profileicon/"+{{icon}}+".png"';" alt="Mountain View" style="width:304px;height:228px;" id="profileIcon">

</body></html>